<div class="table-class">

    <mat-table [dataSource]="dataSource" class="mat-elevation-z8 market-table" multiTemplateDataRows>

        <ng-container matColumnDef="Symbol">
            <th mat-header-cell *matHeaderCellDef> 
              <span>Symbol</span>
            </th>
            <td mat-cell *matCellDef="let data"> 
              <button mat-icon-button 
                      [style.visibility]="!data.Expandable ? 'hidden' : ''"
                      (click)="treeControl.toggle(data)">
                @if (treeControl.isExpanded(data)) {
                    <mat-icon>expand_more</mat-icon>
                } @else {
                    <mat-icon>chevron_right</mat-icon>
                }
              </button>
              {{data.Symbol}}
            </td>
          </ng-container> 
        
          <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let data">{{data.Description}}</td>
          </ng-container> 

          <ng-container matColumnDef="AskPrice">
            <th mat-header-cell *matHeaderCellDef>AskPrice</th>
            <td mat-cell *matCellDef="let data" [style.background-color]="'red'">{{data.AskPrice}}</td>
          </ng-container> 

          <ng-container matColumnDef="AskSize">
            <th mat-header-cell *matHeaderCellDef>AskSize</th>
            <td mat-cell *matCellDef="let data" [style.background-color]="'red'">{{data.AskSize}}</td>
          </ng-container> 

          <ng-container matColumnDef="BidPrice">
            <th mat-header-cell *matHeaderCellDef>BidPrice</th>
            <td mat-cell *matCellDef="let data" [style.background-color]="'blue'">{{data.BidPrice}}</td>
          </ng-container> 

          <ng-container matColumnDef="BidSize">
            <th mat-header-cell *matHeaderCellDef>BidSize</th>
            <td mat-cell *matCellDef="let data" [style.background-color]="'blue'">{{data.BidSize}}</td>
          </ng-container> 

          <ng-container matColumnDef="LastTrade">
            <th mat-header-cell *matHeaderCellDef>LastTrade</th>
            <td mat-cell *matCellDef="let data">{{data.LastTrade}}</td>
          </ng-container> 
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr 
            mat-row 
            (click)="selectSymbol(row)"
            [class.row-is-clicked]="currentRow === row"
            *matRowDef="let row; columns: displayedColumns;"></tr>
      </mat-table>
    
</div>